= form_for [:admin, @entity], html: { class: 'form-horizontal col-sm-offset-2 col-sm-8', :multipart => true } do |f|

  = render "admin/general/form_errors",  object:  @entity

  .form-group
    = f.label :metric_id, "Metric", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.select :metric_type, options_for_select([['V1','V1'],['V2','V2'],['V3','V3'],['V4', 'V4']]), :class => 'form-control'
  .form-group
    = f.label :param_1, "Param#1", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.text_field :param_1, :class => 'form-control'
  .form-group
    = f.label :param_2, "Param#2", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.text_field :param_2, :class => 'form-control'
  .form-group
    = f.label :param_3, "Param#3", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.text_field :param_3, :class => 'form-control'

  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit 'Save', :class => "btn btn-primary"
