.admin-page.index
  %h1
    #{@class_name}s
    = link_to "New #{@class_name}", url_for(:action => :new), :class => 'btn btn-primary pull-right '

  .row


  %table{:class => 'table table-striped'}
    %tr
      %th ID
      %th= sort_link @q, :param_1, "Param#1"
      %th= sort_link @q, :param_2, "Param#2"
      %th= sort_link @q, :param_3, "Param#3"
      %th= sort_link @q, :metric_type, "Type of metric"

      %th= sort_link @q, :created_at, "Created"
      %th= sort_link @q, :updated_at, "Updated"

      %th

    - @entities.each do |entity|
      %tr
        %td= entity.id
        %td= entity.param_1
        %td= entity.param_2
        %td= entity.param_3
        %td= entity.metric_type

        %td= entity.created_at.strftime("%m/%d/%y   %I:%M%p")
        %td= entity.updated_at.strftime("%m/%d/%y   %I:%M%p")

        %td{:class => 'action'}
          = link_to  url_for(:action => :show, :id => entity.id), :title => "View #{@class_name}" do
            %span{:class=>"glyphicon glyphicon-eye-open"}

          = link_to  url_for(:action => :edit, :id => entity.id), :title => "Edit #{@class_name}" do
            %span{:class=>"glyphicon glyphicon-pencil"}

          = link_to  url_for(:action => :destroy, :id => entity.id), :method => :delete, :data => { :confirm => 'Are you sure?' } , :title => "Remove #{@class_name}" do
            %span{:class=>"glyphicon glyphicon-remove-circle"}

  = paginate @entities, :theme => 'bootstrap'
