.admin-page.show
  .row
    %h1{:class => 'col-sm-offset-3 col-sm-6'}
      = @class_name

  .row
    .col-sm-6.col-sm-offset-3
      %ul
        %li
          %span Param#1:
          =@entity.param_1
        %li
          %span Param#2:
          =@entity.param_2
        %li
          %span Param#3:
          =@entity.param_3
        %li
          %span Updated:
          =@entity.updated_at
        %li
          %span Created:
          =@entity.created_at
