= form_for [:admin, @entity], html: { class: 'form-horizontal col-sm-offset-2 col-sm-8', :multipart => true } do |f|

  = render "admin/general/form_errors",  object:  @entity

  .form-group
    = f.label :metric_id, "Metric", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.select :metric_id, Metric.all.map{|x| ["#{x.metric_type}:#{x.param_1}/#{x.param_2}/#{x.param_3}", x.id ] }, {}, :class => 'form-control'

  .form-group
    = f.label :name, "Name", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.text_field :name, :class => 'form-control'

  .form-group
    = f.label :image, "Image", :class => 'col-sm-4 control-label'
    .col-sm-8
      -if @entity.image.exists?
        %div
          =image_tag @entity.image.url(:medium)

      = f.file_field :image, :class => ''

  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit 'Save', :class => "btn btn-primary"
