.admin-page.index
  %h1
    #{@class_name}s
    = link_to "New #{@class_name}", url_for(:action => :new), :class => 'btn btn-primary pull-right '

  .row
    = search_form_for @q, url: url_for(:action => :index) do |f|
      .col-xs-6
        .input-group
          = f.search_field :name_cont, :class=>"form-control", :placeholder => "Search by name"
          %span{:class => "input-group-btn"}
            = f.submit 'Search', :class => "btn btn-default"

  %table{:class => 'table table-striped'}
    %tr
      %th ID
      %th= sort_link @q, :name, "Name"
      %th Metrics
      %th= sort_link @q, :created_at, "Created"
      %th= sort_link @q, :updated_at, "Updated"

      %th

    - @entities.each do |entity|
      %tr
        %td= entity.id
        %td= entity.name

        %td= "#{entity.metric.metric_type}:#{entity.metric.param_1}/#{entity.metric.param_2}/#{entity.metric.param_3}"

        %td= entity.created_at.strftime("%m/%d/%y   %I:%M%p")
        %td= entity.updated_at.strftime("%m/%d/%y   %I:%M%p")

        %td{:class => 'action'}
          = link_to  url_for(:action => :show, :id => entity.id), :title => "View #{@class_name}" do
            %span{:class=>"glyphicon glyphicon-eye-open"}

          = link_to  url_for(:action => :edit, :id => entity.id), :title => "Edit #{@class_name}" do
            %span{:class=>"glyphicon glyphicon-pencil"}

          = link_to  url_for(:action => :destroy, :id => entity.id), :method => :delete, :data => { :confirm => 'Are you sure?' } , :title => "Remove #{@class_name}" do
            %span{:class=>"glyphicon glyphicon-remove-circle"}

  = paginate @entities, :theme => 'bootstrap'
