.admin-page.show
  .row
    %h1{:class => 'col-sm-offset-3 col-sm-6'}
      = @class_name

  .row
    .col-sm-6.col-sm-offset-3
      %ul
        %li
          %span Name:
          =@entity.name
        %li
          %span Description:
          =@entity.description
        %li
          %span Image:
          -if @entity.image.exists?
            %div
              =image_tag @entity.image.url(:medium)
        %li
          %span Updated:
          =@entity.updated_at
        %li
          %span Created:
          =@entity.created_at
