= form_for [:admin, @entity], html: { class: 'form-horizontal col-sm-offset-2 col-sm-8', :multipart => true } do |f|

  = render "admin/general/form_errors",  object:  @entity

  .form-group
    = f.label :exercise_type_id, "Exercise type", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.select :exercise_type_id, ExerciseType.all.map{|x| [x.name, x.id ] }, {}, :class => 'form-control'

  .form-group
    = f.label :program_id, "Programs", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.select :program_id, Program.all.map{|x| [x.name, x.id ] }, {}, :class => 'form-control'


    .form-group
    = f.label :video, "Video", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.file_field :video, :class => ''

  .form-group
    = f.label :description, "Description", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.text_area :description, :class => 'form-control'

  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit 'Save', :class => "btn btn-primary"
