.admin-page.show
  .row
    %h1{:class => 'col-sm-offset-3 col-sm-6'}
      = @class_name

  .row
    .col-sm-6.col-sm-offset-3
      %ul
        %li
          %span Type of exercise:
          =@entity.exercise_type.name

        %li
          %span Video:
          -if @entity.video.exists?
            =image_tag @entity.video.url(:medium)
            %div
              =link_to 'Show video', @entity.video.url, :target => '_blank'

        %li
          %span Program:
          ="#{@entity.program.id}. #{@entity.program.name}"

        - unless @entity.metrics.nil?
          %li
            %span Metrics:
            ="#{@entity.metrics.value_1}/#{@entity.metrics.value_2}/#{@entity.metrics.value_3}"
            %br
            %span Metric type:
            = @entity.metrics.metric_type
        %li
          %span Description:
          =@entity.description
        %li
          %span Updated:
          =@entity.updated_at
        %li
          %span Created:
          =@entity.created_at
