.admin-page.show
  .row
    %h1{:class => 'col-sm-offset-3 col-sm-6'}
      = @class_name

  .row
    .col-sm-6.col-sm-offset-3
      %ul
        %li
          %span Author:
          =@entity.user.user_name
        %li
          %span Email:
          =@entity.user.email
        %li
          %span Title:
          =@entity.title
        %li
          %span Description:
          =@entity.description
        %li
          %span Updated:
          =@entity.updated_at
        %li
          %span Created:
          =@entity.created_at
