= form_for [:admin, @entity], html: { class: 'form-horizontal col-sm-offset-2 col-sm-8', :multipart => true } do |f|

  = render "admin/general/form_errors",  object:  @entity

  .form-group
    = f.label :email, "Email", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.text_field :email, :class => 'form-control'

  .form-group
    = f.label :user_name, "User name", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.text_field :user_name, :class => 'form-control'

  .form-group
    = f.label :first_name, "First Name", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.text_field :first_name, :class => 'form-control'

  .form-group
    = f.label :last_name, "Last Name", :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.text_field :last_name, :class => 'form-control'

  .form-group
    = f.label :role, 'Role', :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.select :role, options_for_select([['user','user'], ['admin','admin']], selected: @entity.role), :class => 'form-control'
  .form-group
    = f.label :password, 'New password', :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.password_field :password, autocomplete: "off", :class => 'form-control'

  .form-group
    = f.label :password_confirmation, 'New password confirmation', :class => 'col-sm-4 control-label'
    .col-sm-6
      = f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control'
  .form-group

  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit 'Save', :class => "btn btn-primary"
