.admin-page.show
  .row
    %h1{:class => 'col-sm-offset-3 col-sm-6'}
      = @class_name

  .row
    .col-sm-6.col-sm-offset-3
      %ul
        %li
          %span Email:
          =@entity.email
        %li
          %span User name:
          =@entity.user_name
        %li
          %span First name:
          =@entity.first_name
        %li
          %span Last name:
          =@entity.last_name
        %li
          %span User name:
          =@entity.user_name

        %li
          %span Updated:
          =@entity.updated_at
        %li
          %span Created:
          =@entity.created_at
